# Configurações do Banco de Dados (Supabase PostgreSQL)
SUPABASE_HOST=db.mrzfopdvijuwixovfsql.supabase.co
SUPABASE_PORT=5432
SUPABASE_DB=postgres
SUPABASE_USER=postgres
SUPABASE_PASS=UHARfJQ290EukfEx

# Configurações da Igreja
IGREJA_NOME=Igreja Missões em Cristo
IGREJA_ENDERECO=Rua Ceará, Qd. 102, Ll. 09, Setor Oeste, Paraíso do Tocantins-TO
IGREJA_CNPJ=CNPJ: 13.004.897/0001-73
PRESIDENTE_NOME=Idevaldo de Lima
PRESIDENTE_CARGO=Pastor Presidente

# Configurações de Upload
MAX_FILE_SIZE=5242880
